{% extends 'template.html' %}

{% block content %}
<div class="col col--content content wbody" id="pjax-container" style="display: flex">
    <div class="main_abalance">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <form action="/user/add" method="post">

       <h1 class="h3 mb-3 fw-normal">Пополнить баланс GGC</h1>
        <label style="height: 10%" for="count">Введите сумму для пополнения
            <div class="input-group">
                <input style="border-bottom-left-radius: 12px;border-top-left-radius: 12px;" type="number" class="gora input-group-field" oninput="document.getElementById('total_price').innerText = (parseFloat(document.getElementById('count').value) * (1 - parseFloat(document.getElementById('commission').value) / 100) / 3194).toFixed(2)" required name="count" id="count" step='any' min="0.001" value="100"/>
                <span style="border-bottom-right-radius: 12px;border-top-right-radius: 12px;" class="gora_label input-group-label">Рублей</span>
            </div>
        </label>
        <label for="count">Итого будет получено
            <div class="input-group">
                <label style="border-bottom-left-radius: 12px;border-top-left-radius: 12px;" class="gora input-group-field" id="total_price">95</label>
                <label style="border-bottom-right-radius: 12px;border-top-right-radius: 12px;" class="gora_label input-group-label">GCC</label>
            </div>
        </label>
        <label for="count">Введите коммисию
            <div class="input-group">
                <input style="border-bottom-left-radius: 12px;border-top-left-radius: 12px;" type="number" class="gora input-group-field" required oninput="document.getElementById('total_price').innerText = (parseFloat(document.getElementById('count').value) * (1 - parseFloat(document.getElementById('commission').value) / 100) / 3194).toFixed(2)" name="commission" id="commission" step='any' min="1" max="100" value="5"/>
                <span style="border-bottom-right-radius: 12px;border-top-right-radius: 12px;" class="gora_label input-group-label">%</span>
            </div>
        </label>
        {% if Error %}
            <p style="color: red">Возникла ошибка</p>
        {% endif %}
        <button class="porka" type="submit">Пополнить</button>
        <script>document.getElementById('total_price').innerText = (parseFloat(document.getElementById('count').value) * (1 - parseFloat(document.getElementById('commission').value) / 100) / 3194).toFixed(2)</script>
      </form>
    </div>
</div>
{% endblock %}
