{% extends 'template.html' %}

{% block content %}
<div class="col col--content content wbody" id="pjax-container">
                <div class="main_abalance">
                    <script type="text/javascript" src="../static/PAYEER_balance_files/script.new(1).js"></script>
                    <ul id="main_list_balance_block" class="account_balance account_balance_new">
                        <li class="GGC curr-GGC fiat all" id="balanceidGGC" data-id="balanceidGGC" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">GGC</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--rub">
                                       <i class="curr fa fa-g"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-GGC">
                                        <span class="int">{{ user.balance_rub }}</span>
                                        <small><span class="pr">GGC</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/add">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Gold curr-Gold fiat all" id="balanceidGold" data-id="balanceidGold" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Золотые Монеты</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--gold">
                                       <i class="fa-solid fa-g"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Gold">
                                        <span class="int">{{ user.balance_gold }}</span>
                                        <small><span class="pr">шт</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Silver curr-Silver fiat all" id="balanceidSilver" data-id="balanceidSilver" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Серебро</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--silver">
                                        <i class="fa-solid fa-s"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Silver">
                                        <span class="int">{{ user.balance_silver }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Palladium curr-Palladium fiat all" id="balanceidPalladium" data-id="balanceidPalladium" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Палладий</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--palladium">
                                       <i class="curr fa fa-p"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Palladium">
                                        <span class="int">{{ user.balance_palladium }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Platinum curr-Platinum fiat all" id="balanceidPlatinum" data-id="balanceidPlatinum" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Платина</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--rub">
                                       <i class="curr fa fa-p"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Platinum">
                                        <span class="int">{{ user.balance_platinum }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/exchange">Вывести</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>

                    <script type="text/javascript">
                        var defItogCurr = 'USD';

                        $(document).ready(function () {
                            balanceUpdate();

                            $('.abn-h2 span').click(function () {
                                let type = $(this).data('type');


                                $('.account_balance_new > li').hide();
                                $('.account_balance_new > li.' + type).not('.balance-0').show();

                                $('.abn-h2 span.active').removeClass('active');
                                $(this).addClass('active');
                            });

                            if (!isMobile(navigator.userAgent)) {
                                new Sortable(main_list_balance_block, {
                                    swap: true,
                                    swapClass: 'highlight',
                                    animation: 1000,
                                    store: {
                                        get: function (sortable) {
                                            var order = localStorage.getItem("sortBalance");
                                            $("#main_list_balance_block").removeClass('hide');
                                            return order ? order.split(',') : [];
                                        },
                                        set: function (evt) {
                                            localStorage.setItem("sortBalance", evt.toArray());
                                        }
                                    }
                                });
                                $("#main_list_balance_block").disableSelection();
                            } else {
                                $("#main_list_balance_block").removeClass('hide');
                            }
                        });


                        function afterHideWallet(e, response) {
                            $('.wtop .balance li.' + e.curr).hide();
                        }


                        function afterShowHiddenWallets(e, response) {
                            $('.wtop .balance li').show();
                        }
                    </script>
                </div>
            </div>
{% endblock %}