<!DOCTYPE html>

<html>
<head>
    <script src="https://kit.fontawesome.com/1fe858aabf.js" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>PAYEER | Баланс</title>

    <script type="text/javascript">if (!window.BX) window.BX = {
        message: function (mess) {
            if (typeof mess == 'object') for (var i in mess) BX.message[i] = mess[i];
            return true;
        }
    };</script>
    <script type="text/javascript">(window.BX || top.BX).message({
        'LANGUAGE_ID': 'ru',
        'FORMAT_DATE': 'DD.MM.YYYY',
        'FORMAT_DATETIME': 'DD.MM.YYYY HH:MI:SS',
        'COOKIE_PREFIX': 'BITRIX_SM',
        'SERVER_TZ_OFFSET': '10800',
        'SITE_ID': 'ru',
        'USER_ID': '1128808',
        'SERVER_TIME': '1668018617',
        'USER_TZ_OFFSET': '0',
        'USER_TZ_AUTO': 'Y',
        'bitrix_sessid': '49401580a83062d6fbe3bedb214f37fd'
    });</script>


    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link href="../static/PAYEER_balance_files/jquery-ui.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/jquery-ui.structure.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/jquery-ui.theme.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/jquery.formstyler.new.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/jquery.formstyler.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/nprogress.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/tiptip.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/account.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/tmp.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/black.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/style_06_2016.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/difiz.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/loaders.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/styles.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/menu.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/actions.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/new_forms.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/general.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/trade.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/account_settings.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/payeermodals.css" rel="stylesheet" type="text/css">
    <link href="../static/PAYEER_balance_files/additional.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.formstyler.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery-ui-1.12.1.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery-ui-timepicker-addon.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/nprogress.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.pjax.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/clipboard.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.form.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.tipTip.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/account.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/ru.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/header_menu.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/sidebar.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/global.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.jscroll.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/anychart-base.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/anychart-stock.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.sumoselect.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/perfect-scrollbar.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/Sortable.min.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/vue.js"></script>
    <script type="text/javascript" src="../static/PAYEER_balance_files/payeermodals.umd.js"></script>


    <script>
        var socket;
        var socketNew;
        var socketNewTrade;
        var chatOn = false;
        $.pjax.defaults.maxCacheLength = 0;

        window.opener = null;

        $(document).ready(function () {
            payeermodals.mountPopups(null, 'ru');
        });
    </script>
</head>
<body class="">

<script src="../static/PAYEER_balance_files/socket.io.js"></script>
<script type="text/javascript">
    try {
        var socketNewTrade = io('https://wss.payeer.com?UserID=1128808&auth_hash=6q31a4hrcmleqgdarqbd27hdak5bjto95aner4rag8414fot2aujl80cmmss2tc1oj4cjq8j1ab13qmno5l5r8gf4p1t70ac39qjo41',
            {
                transports: ['websocket']
            });
        socketNewTrade.onceEvent = socketNewTrade.onceEvent2 = true;
        socketNewTrade.inProgress = false;
        socketNewTrade.countM = 0

        socketNewTrade.on('tickets', function (data) {
            $('#btn-support span').html(data.new);

            if (data.new > 0) {
                $('#btn-support span').removeClass('empty');
            } else {
                $('#btn-support span').addClass('empty');
            }
        });

        socketNewTrade.on('ws', function (data) {
            if (window[data.handler] != undefined) {
                window[data.handler](data);
            }
        });

        socketNewTrade.on('balance', function (data) {
            console.log('ws balance', data);
        });

        socketNewTrade.on('toall', function (data) {
            if (window[data.handler] != undefined) {
                window[data.handler](data);
            }
        });

        socketNewTrade.on('sendtoall', function (data) {
            if (window[data.handler] != undefined) {
                window[data.handler](data);
            }
        });
    } catch (e) {
        pre(e.message);
    }
</script>
<script src="../static/PAYEER_balance_files/socket.io(1).js"></script>
<div class="page w wleftmini1">
    <header class="header">
        <div class="row row--page">
            <div class="col col--sidebar">
                <div class="header-logo logo">
                    <a href="/user">
                    </a>
                </div>
            </div>

            <div class="col col--content">
                <style>
                    .actions-notification p {
                        font-family: 'Gotham Pro';
                        font-size: 12px;
                        line-height: 1.33;
                        font-weight: normal;
                        padding: 0;
                    }

                    .actions-list {
                        overflow: hidden;
                    }

                    .balance-title {
                        padding-left: 8px;
                        color: #171717;
                        font-family: 'Futura New';
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: 2px;
                        text-transform: uppercase;
                        position: relative;
                        top: 19px;
                    }

                    .ggg {
                        font-size: 16px;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }

                    .night .balance-title {
                        color: #fff;
                    }

                    .header-overlay .balance-item {
                        cursor: pointer;
                    }


                    .actions-support .actions-hint {
                        top: 73px;
                        width: calc(100% + 17px);
                    }

                    a.actions-golink.copy-payeer-account {
                        /*border-bottom: 1px dashed #3398d9;*/
                        color: #41d800;
                    }

                    #btn-support span {
                        left: 32px;
                    }

                    #btn-support span.empty {
                        display: none;
                    }

                    .wallet .fa-info-circle {
                        color: #698698;
                    }
                </style>
                <div class="header-panel">
                    <div class="header-actions actions">
                        <ul>
                            <li class="actions-notification">
                                <button id="btn-notification" onclick="$('#btn-notification-href').click();">
                                    <span class="">1</span>
                                </button>
                                <a id="btn-notification-href" href="/user"
                                   class="pjax hide"></a>

                                <div class="actions-container actions-container--right" style="display: none;">
                                    <div class="actions-header">
                                        <div class="actions-title">Уведомления</div>
                                        <button id="btn-markall"
                                                onclick="ajaxLoad({id: '#', url: '/bitrix/components/payeer/account.messages.new/templates/top/ajax.php?action=markall', afterSuccess: 'afterNotificationsMarkAll'}, {nprogress: 'N', type: 'null', formType: 'json'});">
                                            Я прочитал
                                        </button>
                                    </div>
                                    <div class="actions-list">
                                        <ul class="perfect-scroll perfect-scroll-notifications ps ps--active-y">
                                            <li onclick="ajaxLoad({id: '#pjax-container', url:'/ru/account/messages/?_pjax=Y'})"
                                                style="cursor: pointer;">
                                                <span class="actions-subject">09 Ноя 2022, 02:05</span>
                                                <p class="actions-message">Тут будут уведомления.</p>
                                            </li>
                                        </ul>
                                    </div>
                                    <script>
                                        function afterNotificationsMarkAll(e, data) {
                                            $('.actions-notification #btn-markall').remove();
                                            $('.actions-notification > button span').addClass('empty').html('0');
                                        }
                                    </script>
                                </div>
                            </li>
                            <li class="actions-account">
                                <button id="btn-account">
                                    <i class="fa-regular fa-user"
                                       style="font-size: 22px; top:23px; left:33px;position:absolute;"></i>
                                    <span>Номер счета</span>
                                    <b>{{ user.token }} <i class="icon-dropdown"></i></b>
                                </button>
                                <div class="actions-container actions-container--right" style="display: none;">
                                    <div class="actions-info">
                                        <ul>
                                            <li>
                                                <i class="ggg fa-regular fa-user"></i>
                                                <span>Счет</span>
                                                <b>{{ user.token }}</b>
                                                <a id="MyAccount" class="actions-golink pjax"
                                                   href="/user" data-alt-text="Copied"
                                                   data-clipboard-text="{{ user.token }}"
                                                   onclick="return false;">Копир.</a>
                                            </li>
                                            <li>
                                                <i class="ggg fa-solid fa-passport"></i>
                                                <span>Идентификация</span>
                                                <b>Нет</b>
                                                <a class="actions-golink pjax"
                                                   href="/user">Пройти</a>
                                            </li>
                                            <li>
                                                <i class="ggg fa-regular fa-star"></i>
                                                <span>Тип аккаунта</span>
                                                <b>Registered</b>
                                            </li>
                                            <li>
                                                <i class="ggg fa-regular fa-calendar"></i>
                                                <span>Зарегистрирован</span>
                                                <b>{{ user.created_date.strftime('%m.%d.%Y')}}</b>
                                            </li>
                                        </ul>
                                        <div class="row">
                                        </div>
                                    </div>
                                </div><!--/actions-container -->
                            </li>
                            <li class="actions-language">
                                <button id="btn-language"><img src="../static/PAYEER_balance_files/lang-russian.svg"
                                                               alt="russian"></button>
                                <div class="actions-container actions-container--right">
                                    <div class="actions-opt">
                                        <ul>
                                            <li>
                                                <a class="" href="/user"
                                                   onclick="setLang('en'); return false;">
                                                    <img src="../static/PAYEER_balance_files/lang-english.svg"
                                                         alt="english"> english </a>
                                            </li>
                                            <li>
                                                <a class="selected" href="/user"
                                                   onclick="setLang('ru'); return false;">
                                                    <img src="../static/PAYEER_balance_files/lang-russian.svg"
                                                         alt="russian"> russian </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div><!--/actions-container -->
                            </li>
                            <li class="actions-theme">
                                <button id="btn-theme"><i class="fa-solid fa-sun"></i></button>
                                <div class="actions-container actions-container--right" style="display: none;">
                                    <div class="actions-opt">
                                        <ul>
                                            <li><a class="light selected" href="/user"
                                                   onclick="setTypeLight('light'); return false;"><i
                                                    class="fa-solid fa-sun"></i> Светлая</a></li>
                                            <li><a class="contrast" href="/user"
                                                   onclick="setTypeLight('contrast'); return false;"><i
                                                    class="fa-solid fa-moon"></i> Тёмная</a></li>
                                        </ul>
                                    </div>
                                </div><!--/actions-container -->
                            </li>

                            <li class="actions-theme actions-notification actions-support">
                                <button id="btn-support" onclick="$('#btn-support-href').click();"
                                        style="padding-left: 18px; padding-right: 18px;">
                                    <i class="fa-solid fa-headset"></i>
                                    <span class="empty">0</span>
                                </button>
                                <div class="actions-hint" style="display: none;">Поддержка</div>
                                <a id="btn-support-href" href="/support"
                                   class="pjax hide"></a>
                            </li>

                            <li class="actions-settings">
                                <button id="btn-settings"><i class="fa-solid fa-gear"></i></button>
                                <div class="actions-container actions-container--right">
                                    <div class="actions-opt">
                                        <ul>
                                            <li><a href="/user" class="pjax"><i class="fa-solid fa-gear"></i>
                                                Профиль</a></li>
                                        </ul>
                                    </div>
                                </div><!--/actions-container -->
                            </li>
                            <li class="actions-logout">
                                <button id="btn-logout"
                                        onclick="document.location='/logout';return false;">
                                    <i class="fa-solid fa-arrow-right-from-bracket"></i></button>
                                <div class="actions-hint">Выйти</div>
                            </li>
                        </ul>
                    </div><!--/header-actions -->
                </div><!--/header-panel -->
                <script type="text/javascript">

                    $(document).ready(function () {
                        var clipboard = new Clipboard('#PayeerAccount');
                        clipboard.on('success', function (e) {
                            $(e.trigger).addClass('copy-payeer-account');
                            /*
                            var PayeerAccountN = $(e.trigger).parent('li').find('b');
                            PayeerAccountN.addClass('copy-payeer-account');

                            setTimeout(function()
                            {
                               PayeerAccountN.removeClass('copy-payeer-account');
                            }, 1000);
                            */
                        });

                        $('.header-overlay .balance-item').hover(
                            function () {
                                $(this).css({'background': $(this).css('border-top-color')});
                            },
                            function () {
                                $(this).css({'background': ''});
                            });


                        $('.wallet').on('mouseenter click', '.fa-info-circle', function () {
                            var $thisOffset = $(this).offset();

                            var tooltip = $('.wallet .js-tool-tip-ordertype');
                            tooltip.html($(this).data('title'));
                            tooltip.show();

                            tooltip.offset({
                                top: $thisOffset.top + 20,
                                left: $thisOffset.left - tooltip.outerWidth() / 2 + 2
                            });
                        });

                        $('.wallet .fa-info-circle').on('mouseleave', function () {
                            $('.wallet .js-tool-tip-ordertype').hide();
                        });
                    });

                    function balanceUpdate() {
                        ajaxLoad({
                            id: '#',
                            url: '/bitrix/components/payeer/account.info2/templates/top2/ajax.php?action=balance2&sessid=49401580a83062d6fbe3bedb214f37fd',
                            afterSuccess: 'afterBalanceUpdate'
                        }, {nprogress: 'N', type: 'null', formType: 'json'});
                    }

                    function afterBalanceUpdate(e, data) {
                        //pre(['afterBalanceUpdate', data]);

                        if (data != '') {
                            itogBalance = data;

                            var itogSum = 0;

                            if (data.balance != '' && data.balance != undefined) {
                                for (var curr in data.balance) {
                                    //pre([curr, data.balance[curr]]);

                                    var ar = data.balance[curr];

                                    var n = Number(ar[0].replace(/[\s,]+/g, '') + '.' + ar[1]);

                                    if (isNaN(n)) {
                                        n = 0;
                                    }


                                    itogSum += Math.ceil10(arInternalExchangeRate[curr + '/' + itogCurr] * n, -arCurrPr[itogCurr]);

                                    $('.account_balance .curr-' + curr + ' span.int').html(ar['0']);
                                    $('.account_balance .curr-' + curr + ' span.pr').html('.' + ar['1']);

                                    $('.header .wallet .balance .balance-curr--' + curr.toLowerCase() + ' s').html(ar['0'] + '<sup>.' + ar['1'] + '</sup>');

                                    $('.div-balance-update .balance-item--' + curr.toLowerCase() + ' .n-select__selected-value-caption').html(ar['0'] + '.' + ar['1']);
                                }

                                if ($('.trade-management').length) {
                                    var arPair = $('#id_trade_pair').val().split('_');
                                    //pre(data.balance[arPair[0]]);

                                    var sumForSell = data.balance[arPair[0]].join('.').replace(/[^0-9\.]+/g, '');
                                    var sumForBuy = data.balance[arPair[1]].join('.').replace(/[^0-9\.]+/g, '');

                                    $('#id_trade_balance_for_sell').val(sumForSell);
                                    $('#id_trade_balance_for_sell').closest('.trade-management__balance-sum').find('div').html(tradeAmountFormat(sumForSell));

                                    $('#id_trade_balance_for_buy').val(sumForBuy);
                                    $('#id_trade_balance_for_buy').closest('.trade-management__balance-sum').find('div').html(tradeAmountFormat(sumForBuy));
                                }
                            }

                            if (data.balancet != '' && data.balancet != undefined) {
                                var bShowActiveOrdersTitle = false;

                                for (var curr in data.balancet) {
                                    var ar = data.balancet[curr];
                                    //pre([curr, ar]);

                                    var n = Number(ar[0].replace(/[\s,]+/g, '') + '.' + ar[1]);

                                    if (isNaN(n)) {
                                        n = 0;
                                    }

                                    itogSum += Math.ceil10(arInternalExchangeRate[curr + '/' + itogCurr] * n, -arCurrPr[itogCurr]);

                                    $('.account_balance .trade-curr-' + curr + ' span.int').html(ar['0']);
                                    $('.account_balance .trade-curr-' + curr + ' span.pr').html('.' + ar['1']);

                                    $('.header .wallet .balance .balance-trade-curr--' + curr.toLowerCase() + ' s').html(ar['0'] + '<sup>.' + ar['1'] + '</sup>');

                                    if (n > 0) {
                                        bShowActiveOrdersTitle = true;

                                        $('.header .wallet .balance .balance-trade-curr--' + curr.toLowerCase()).show();

                                        $('.account_balance .trade-curr-' + curr).removeClass('balance-0');

                                        if ($('.abn-h2 span.active').data('type') == 'active-orders') {
                                            $('.account_balance .trade-curr-' + curr).show();
                                        }
                                    } else {
                                        $('.header .wallet .balance .balance-trade-curr--' + curr.toLowerCase()).hide();

                                        $('.account_balance .trade-curr-' + curr).removeClass('balance-0').addClass('balance-0');

                                        if ($('.abn-h2 span.active').data('type') == 'active-orders') {
                                            $('.account_balance .trade-curr-' + curr).hide();
                                        }
                                    }
                                }

                                if (bShowActiveOrdersTitle) {
                                    $('.balance-title-active-orders').show();
                                } else {
                                    $('.balance-title-active-orders').hide();

                                    if ($('.main_abalance').length) {
                                        $('.account_balance_new > li').hide();
                                        $('.account_balance_new > li.all').not('.balance-0').show();

                                        $('.abn-h2 span.active').removeClass('active');
                                        $('.main_abalance span[data-type="all"]').addClass('active');
                                    }
                                }
                            }


                            itogSum = number_format(itogSum, arCurrPr[itogCurr], '.', ',');
                            //pre('itogSum = ' + itogSum);

                            arItog = itogSum.split('.');

                            $('.account_balance .itog span.int').html(arItog['0']);
                            $('.account_balance .itog span.pr').html('.' + arItog['1']);

                            $('.account_balance .itog').attr('class', '').addClass('itog itog-' + itogCurr);
                            $('.account_balance li.itog .val .curr').attr('class', '').addClass('curr fa fa-' + itogCurr.toLowerCase());

                            $('.header-total .icon-padding-top').attr('class', '').addClass('icon-padding-top icon-' + itogCurr.toLowerCase());
                            $('.header-total .btn--amount s').html(arItog['0'] + '<sup>.' + arItog['1'] + '</sup>');

                            $('.wallet-total .icon-padding-top').attr('class', '').addClass('icon-padding-top icon-' + itogCurr.toLowerCase());
                            $('.wallet .wallet-total s').html(arItog['0'] + '<sup>.' + arItog['1'] + '</sup>');

                        } else {
                            window.location.reload();
                        }
                    }

                    var iBalanceUpdate = setInterval(function () {
                        balanceUpdate();
                    }, 60000 * 5);

                    function onAfterBalanceUpdate(data) {
                        //pre(['onAfterBalanceUpdate', data]);

                        afterBalanceUpdate('#', data);
                    }

                    function onAfterCardBalanceUpdate(data) {
                        //pre(['onAfterCardBalanceUpdate', data]);

                        afterBalanceUpdate('#', {cards: [data.card]});
                    }

                    function setTypeLight(type) {
                        $('#chart').html('');

                        $('body').removeClass('black night');

                        $('.actions-theme a').removeClass('selected');
                        $('.actions-theme a.' + type).addClass('selected');

                        switch (type) {
                            case 'light':
                                break;

                            case 'contrast':
                                $('body').addClass('black night');
                                break;
                        }

                        if (window['chartCreate']) chartCreate();
                        $('.chart-timeline button.current').click();
                        $('.trade-management__times button.is-active-time-btn').click();

                        ajaxLoad({
                            id: '#',
                            url: '/bitrix/components/payeer/account.info2/templates/top2/ajax.php?action=param&param=typelight&typelight=' + type + '&sessid=49401580a83062d6fbe3bedb214f37fd'
                        }, {nprogress: 'N', type: 'null'});
                    }

                    function afterCardsCheck(e, data) {
                        $.pjax(
                            {
                                url: data,
                                type: 'GET',
                                container: '#pjax-container'
                            });
                    }


                    function tradeAfterRequestRefundByCurrency(e, data) {
                        //pre(data['winData']);

                        $('.dialog-trade-request-detail').remove();

                        $('.content').addClass('blur');

                        $('.header-overlay .statusinfo .statusinfo-icon > span').attr('class', '').addClass('icon-approved');

                        $('.header-overlay .statusinfo .statusinfo-title').html(data['winData']['title']);
                        $('.header-overlay .statusinfo .statusinfo-direction').html(data['winData']['direction']);
                        $('.header-overlay .statusinfo .statusinfo-descr').html(data['winData']['descr']);

                        $('.header-overlay').addClass('show').find('.statusinfo').show();

                        winErrorAutoClose();
                    }
                </script>
            </div><!--/col -->
        </div><!--/row -->
    </header>

    <main class="main">
        <div class="row row--page">
            <aside class="col col--sidebar sidebar">
                <script type="text/javascript" src="../static/PAYEER_balance_files/script.new.js"></script>
                <div class="menu">
                    <ul>
                        <li class="dashboard"><a href="/user" class="pjax current"><i class="fa-solid fa-coins"
                                                                                      title="Баланс"></i><span>Баланс</span></a>
                        </li>
                        <li class="add"><a href="/user/add" class="pjax "><i class="fa-solid fa-circle-plus"
                                                                             title="Пополнить"></i><span>Пополнить</span></a>
                        </li>
                        <li class="transfer"><a href="/user/send/" class="pjax "><i
                                class="fa-solid fa-paper-plane" title="Перевести"></i><span>Перевести</span></a></li>
                        <li class="exchange"><a href="/user/exchange/" class="pjax "><i
                                class="fa-solid fa-money-bill-transfer" title="Обменять"></i><span>Обменять</span></a>
                        </li>
                        <li class="time"><a href="/user/history/" class="pjax "><i
                                class="fa-solid fa-clock-rotate-left" title="История"></i><span>История</span></a></li>
                    </ul>
                </div>
                <div class="sidebar-btn">
                    <button id="btn-sidebar"><i class="fa-solid fa-arrow-left-long"></i></button>
                </div>
            </aside>
            <div class="col col--content content wbody" id="pjax-container" style="background-color: #c9c8c81a;">
                <div class="main_abalance">
                    <script type="text/javascript" src="../static/PAYEER_balance_files/script.new(1).js"></script>
                    <ul id="main_list_balance_block" class="account_balance account_balance_new">
                        <li class="RUB curr-RUB fiat all" id="balanceidRUB" data-id="balanceidRUB" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">RUB</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--rub">
                                       <i class="curr fa fa-rub"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-RUB">
                                        <span class="curr fa fa-rub"></span>
                                        <span class="int">{{ user.balance_rub }}</span>
                                        <small><span class="pr">руб</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/add">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/send">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Gold curr-Gold fiat all" id="balanceidGold" data-id="balanceidGold" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Gold</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--gold">
                                       <i class="fa-solid fa-g"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Gold">
                                        <span class="int">{{ user.balance_gold }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/add">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/send">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Silver curr-Silver fiat all" id="balanceidSilver" data-id="balanceidSilver" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Silver</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--silver">
                                        <i class="fa-solid fa-s"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Silver">
                                        <span class="int">{{ user.balance_silver }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/add">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/send">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Palladium curr-Palladium fiat all" id="balanceidPalladium" data-id="balanceidPalladium" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Palladium</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--palladium">
                                       <i class="curr fa fa-p"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Palladium">
                                        <span class="int">{{ user.balance_palladium }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/add">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/send">Вывести</a>
                                </div>
                            </div>
                        </li>
                        <li class="Platinum curr-Platinum fiat all" id="balanceidPlatinum" data-id="balanceidPlatinum" style="">
                            <div class="balance__body">
                                <div class="balance__top">
                                    <div class="balance__name-currency">Platinum</div>
                                    <div class="balance__extra-currency">
                                        <span class="info-balance-cur ibc-small"></span>
                                    </div>
                                    <div class="balance__icon-currency balance-item--rub">
                                       <i class="curr fa fa-p"></i>
                                    </div>
                                </div>
                                <div class="balance__middle">
                                    <div class="balance__cache curr-Platinum">
                                        <span class="int">{{ user.balance_platinum }}</span>
                                        <small><span class="pr">кг</span></small>
                                    </div>
                                </div>
                                <div class="balance__bottom">
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/add">Пополнить</a>
                                    <a class="pjax balance__btn-deposit"
                                       href="/user/send">Вывести</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="clear"></div>

                    <script type="text/javascript">
                        var defItogCurr = 'USD';

                        $(document).ready(function () {
                            balanceUpdate();

                            $('.abn-h2 span').click(function () {
                                let type = $(this).data('type');


                                $('.account_balance_new > li').hide();
                                $('.account_balance_new > li.' + type).not('.balance-0').show();

                                $('.abn-h2 span.active').removeClass('active');
                                $(this).addClass('active');
                            });

                            if (!isMobile(navigator.userAgent)) {
                                new Sortable(main_list_balance_block, {
                                    swap: true,
                                    swapClass: 'highlight',
                                    animation: 1000,
                                    store: {
                                        get: function (sortable) {
                                            var order = localStorage.getItem("sortBalance");
                                            $("#main_list_balance_block").removeClass('hide');
                                            return order ? order.split(',') : [];
                                        },
                                        set: function (evt) {
                                            localStorage.setItem("sortBalance", evt.toArray());
                                        }
                                    }
                                });
                                $("#main_list_balance_block").disableSelection();
                            } else {
                                $("#main_list_balance_block").removeClass('hide');
                            }
                        });


                        function afterHideWallet(e, response) {
                            $('.wtop .balance li.' + e.curr).hide();
                        }


                        function afterShowHiddenWallets(e, response) {
                            $('.wtop .balance li').show();
                        }
                    </script>
                </div>
            </div>
        </div>
    </main>
</div>
<div class="clear"></div>
</body>
</html>