{% extends 'template.html' %}

{% block content %}
<div class="col col--content content wbody" id="pjax-container">
    <div class="main_abalance">

    <!-- Bootstrap core CSS -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <form action="/user/send" method="post">
       <h1 class="h3 mb-3 fw-normal">Отправить валюту</h1>

        <div class="form-floating">
          <input type="text" class="form-control" id="token" required name="token" placeholder="ХХХХХХХХХХ">
          <label for="token">Счёт пользователя</label>
        </div>
        <div class="wrapper">
            <input type="number" class="form-control" onchange="document.getElementById('total_price').innerText = (parseFloat(document.getElementById('count').value) * (1 + parseFloat(document.getElementById('commission').value) / 100)).toFixed(2)" required name="count" id="count" min="1" value="1"/>
            <select class="editableBox" name="type" id="type" required>
                <option value="GGC">GGC</option>
                <option value="Gold">Золото</option>
                <option value="Silver">Серебро</option>
                <option value="Palladium">Палладий</option>
                <option value="Platinum">Платина</option>
            </select>
        </div>
        <label for="count">Введите валюту для перевода</label>
        <div class="form-floating">
            <input type="number" class="form-control" required onchange="document.getElementById('total_price').innerText = (parseFloat(document.getElementById('count').value) * (1 + parseFloat(document.getElementById('commission').value) / 100)).toFixed(2)" name="commission" id="commission" min="5" max="100" value="5"/>
            <label for="count">Проценты</label>
        </div>
        <p>Итого к списанию: <b id="total_price">1.05</b></p>
        {% if Error %}
            <p style="color: red">Возникла ошибка</p>
        {% endif %}
        <button class="w-100 btn btn-lg btn-primary" type="submit">Перевести</button>
      </form>
    </div>
</div>
{% endblock %}
